<strong>Olá {{ student }}</strong>
<p>Bem vindo a GymPoint</p><br />
<p> Agora é o momento de entrar em forma e se preparar para o verão </p>
<p>
  <h3>Informações sobre seu plano</h3><br />
  <strong>Plano selecionado: </strong> {{ title }}<br />
  <strong>Data de início informada:</strong> {{ start_date }} <br />
  <strong>Data de término calculada: </strong> {{ end_date }} <br />
  <strong>Preço Total calculdado: </strong> R$ {{ total_price }} <br />
</p>
